<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/style.css">
	

</head>
<body>
	<h1>Admin Panel</h1>
	<table>
	    <tr>
	        <th>ID</th>
	        <th>Username</th>
	        <th>Email</th>
	        <th>Gender</th>
	        <th>Actions</th>
	    </tr>
	    <tr th:each="user : ${users}">
	        <td th:text="${user.id}"></td>
	        <td th:text="${user.username}"></td>
	        <td th:text="${user.email}"></td>
	        <td th:text="${user.gender}"></td>
	        <td>
	            <form th:action="@{/admin/delete/{id}(id=${user.id})}" method="post">
	                <button type="submit">Delete</button>
	            </form>
				<a th:href="@{/admin/update/{id}(id=${user.id})}"><button>Update</button></a>
	        </td>
	    </tr>
	</table>

	<form th:action="@{/logout}" method="post">
	            <button type="submit">Logout</button>
	        </form>

</body>
</html>
