<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
	
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>Registration</h1>
	    <form th:action="@{/register}" th:object="${user}"  method="post">
	        <label>Username:</label>
	        <input type="text" th:field="*{username}" required/><br/>

	        <label>Email:</label>
	        <input type="email" th:field="*{email}" required /><br/>

	        <label>Password:</label>
	        <input type="password" th:field="*{password}" required><br/>

	        <label>Gender:</label>
	        <input type="text" th:field="*{gender}" required/><br/>

	        <button type="submit">Register</button>
	    </form>
</body>
</html>
